*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    background: #0e2431;
}
nav{
    position: absolute;
    top: 300px;
    right: 300px;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}
.nav-content .toggle-btn,
.nav-content span a{
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.nav-content .toggle-btn{
    font-size: 35px;
    color: #0e2431;
}
.nav-content span{
    position: absolute;
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(120) ;
}
.nav-content span a{
    text-decoration: none;
    transform: rotate(45deg);
}
.nav-content span a i{
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg/ -8)));
}