:root{
    --bg-body: #dff9fb;
    --bg-nav: #043655;
    --color-nav: #2d815b;
    --color-nav-hover: #c6fafd;
    --color-nav-active: #fff;
}

*{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: cursive;
    background-color: var(--bg-body);
}

.nav {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 65px;
    background-color: var(--bg-nav);
    border-radius: 50px;
    border: 1px solid rgb(36, 139, 118);
    padding: 0;
}

.nav li a {
    text-decoration: none;
    color: var(--color-nav);
    width:  62px;
    height: 100%;
    display: inline-grid;
    place-items: center;
    position: center;
    padding: 0;
    font-size: 25px;
    z-index: 1;
    position: relative;
}

.nav li a .title {
    display: none;
    font-size: 16px;
}

.nav li a:hover {
    color: var(--color-nav-hover);
}

.nav li a.nav-item-active {
    color: var(--color-nav-active);
    transform: translateY(-8%);
    font-size: 20px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav li a.nav-item-active .title {
    display: inline-block;
}

.nav .nav-indicator {
    width: 70px;
    height: 70px;
    border-radius: 60%;
    background-color: var(--bg-nav);
    position: absolute;
    top: -15px;
    left: calc(300px - 180px);
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#filter-svg {
    display: none;
}



    
@media only screen and (max-width: 360px) and (min-width: 300px) {
    .nav li a {
        text-decoration: none;
        width:  52px;
        height: 100%;
        font-size: 20px;
    }

    .nav li a.nav-item-active {
        transform: translateY(-8%);
        font-size: 18px;
    }


.nav .nav-indicator {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    top: -15px;
    left: calc(300px - 200px);
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
 }