.main{
   max-width: 460px;
   border: 1px solid rgb(36, 139, 118);
   padding: 15px;
   height: 100%;
   box-sizing: border-box;
   background: #201b2c;
   color: #ffffffde;
   font-size: 12pt;
   box-shadow: 0px 10px 40px #17336896;
}

h2,
h1,
h3{
   margin-bottom: 0;
}

h3{
   font-size: 15px;
   color: #2b8f6f;
}
.text-brand  {
   font-size: 23px;
   font-weight: bold;
}
.text-brand span {
   font-weight: 100;
   color: #2b8f6f;
}


/* cart */

.wrap-swift {
   width: 100%;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   gap: 1rem;
}

.card{
   width: 170px;
   box-shadow: 0px 5px 20px #07e19c10;
   border: none;
   color: #4e3434;
}

.wrap-shop{
   background-color: #2b8f6f;
   padding: 15px;
   border-radius: 8px;
   right: -5px;
   bottom: -5px;
   box-shadow: 0px 5px 20px #00000010;
   position: absolute;
}

.card-body h5,
.card-body p{
margin-bottom: 0;
}

.card-body {
   padding: 10;
}

/* popup */
.popup{
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,.9);
   position: fixed;
   opacity: 0;
   transition: all .2s ease-in;
 }
 .popup_content{
   width: 380px;
   text-align: center;
   position: relative;
 }
 
 .popup_image{
   width: 100%;
   margin-bottom: 15px;
 }
 
 .popup_close{
   position: absolute;
   top: 0;
   right: 0;
   width:30px;
 }
 .popup--show{
   opacity: 1;
 }
 .popup--close{
   display: none;
   transition: all .2s ease-out;
   color: #000000;
 
 }
 /* end poup */